<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CloudSpot</title>
    <link ref="stylesheet" href="style/reset.css">
    <link ref="stylesheet" href="style/global.scss">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
