$color-app-bg: #eee;
$color-modal-bg: rgba($color-app-bg, 0.8);

$color-button-hover-bg: darken($color-app-bg, 10%);
$color-accent: #ccc;
$color-block-placeholder: #fff;
$color-icon: $color-accent;
$color-font-default: #555;
$color-form-background: #fff;
$color-placeholder-text: $color-accent;

$z-main-nav: 200;
$z-sub-nav: 150;
$z-modal: 100;
$z-modal-bg: 90;
