$time-slide: 0.5s;
$time-fade: 0.3s;

.fade-enter-active,
.fade-leave-active {
  transition: opacity $time-fade;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-left-enter-active {
  animation: slide-left $time-slide ease-out;
}

.slide-left-leave-active {
  animation: slide-left $time-slide ease-out reverse;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(-100%);
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-down-enter-active {
  animation: slide-down $time-slide ease-out;
}

.slide-down-leave-active {
  animation: slide-down $time-slide ease-out reverse;
}

.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(-100%);
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
