// sass-lint:disable no-url-domains no-url-protocols
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); // sass-lint:disable-line max-line-length
@import 'colors';

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: $color-font-default;
  margin: 0;
}

html {
  box-sizing: border-box;
}

// stylelint-disable
// sass-lint:disable-all
*, *::before, *::after {
  box-sizing: inherit;
}
// stylelint-enable
// sass-lint:enable-all

a {
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

input {
  border: 1px solid $color-accent;
  background-color: $color-form-background;
  color: $color-font-default;
  border-radius: 5px;
  height: 20px;
  flex-basis: 250px;
}

// Generic classes

.button {
  transition: background-color 0.2s;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;

  .fa {
    font-size: 20px;
    margin-right: 10px;
  }

  &.icon {
    font-size: 20px;
  }

  &:hover {
    background-color: $color-button-hover-bg;
  }
}

// Don't bounce on scroll
html, body {
  overflow: hidden;
}

$layout-toolbar-height: 50px;

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 13px;
  border-bottom: 1px solid $color-accent;
  position: relative;
  height: $layout-toolbar-height;
  flex-grow: 0;
  flex-shrink: 0;
}

$subnav-width: 240px;

.section-settings {
  width: 500px;

  h2 {
    font-size: 22px;
    margin: 50px 0 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-accent;
  }

  h3 {
    font-size: 18px;
    margin: 30px 0 14px;

  }
}

.container-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

// Placeholders and stubs

.icon-placeholder {
  background-color: $color-accent;
  height: 16px;
  width: 16px;
}

.stub {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.placeholder-block {
  background-color: $color-accent;
  width: 100%;
  height: 80px;
  max-width: 500px;
  margin-bottom: 16px;

  &.sm { height: 40px; }
  &.md { height: 80px; }
  &.lg { height: 160px; }
  &.xl { height: 240px; }
}
