@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'colors';

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: $color-font-default;
  margin: 0;
}

html {
  box-sizing: border-box;
}

// stylelint-disable
// sass-lint:disable-all
*, *::before, *::after {
  box-sizing: inherit;
}
// stylelint-enable
// sass-lint:enable-all

a {
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

input {
  border: 1px solid $color-accent;
  background-color: $color-form-background;
  color: $color-font-default;
  border-radius: 5px;
  height: 20px;
  flex-basis: 250px;
}

// Generic classes

.button {
  transition: background-color 0.2s;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;

  .fa {
    font-size: 20px;
    margin-right: 10px;
  }

  &.icon {
    font-size: 20px;
  }

  &:hover {
    background-color: $color-button-hover-bg;
  }
}

$layout-toolbar-height: 50px;

.toolbar {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid $color-accent;
  position: relative;
  height: $layout-toolbar-height;
  flex-grow: 0;
  flex-shrink: 0;
}

$subnav-width: 240px;

.subnav {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $color-accent;
  width: $subnav-width;
}

// Placeholders and stubs

.icon-placeholder {
  background-color: $color-accent;
  height: 16px;
  width: 16px;
}

.stub {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  // color: #fff;
  font-size: 50px;
}
